.post-description {
    color: #ff8c00;
    font-weight: 600;
    cursor: pointer;
    background-color: #ff8c0025;
    padding: 20px;
    border-radius: 15px;
}


.my-post {
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
  }

